<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Product Page</h1>
    <a href="/product/add" class="btn btn-success">Yangi Product Qo'shish</a>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Image</th>
            <th>Category</th>
            <th>Measurement</th>
            <th>Operations</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" product,i : ${listProduct}">
            <td th:text="${i.index+1}"></td>
            <td th:text="${product.getName()}"></td>
            <th scope="row"><img alt=" " th:src="*{'data:image/jpeg;base64,'+ {product.photo.img}}" style="width: 70px; height: 70px;
            "></th>
            <td th:text="${product.category.name}"></td>
            <td th:text="${product.measurement.name}"></td>
            <td>
                <a class="btn btn-warning" th:href="${'/product/edit/'+product.id}">Edit</a>
                <a class="btn btn-danger" th:href="${'/product/delete/'+product.id}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>
</body>
</html>