<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1>Product Edit Page</h1>

<form method="post" th:action="@{/product/edit/{id}(id=${product.id})}" th:object="${product}" enctype="multipart/form-data">

    <div class="form-group">
        <input th:field="*{name}" name="name" type="text" class="form-control" id="ketmon"
               placeholder="Product name:">
    </div>

    <th scope="row"><img alt=" " th:src="*{'data:image/jpeg;base64,'+ {photo.img}}" style="width: 70px; height: 70px;
            "></th>
    <div>
        <label for="file">Choose photo:</label>
        <input type="file"  id="file" name="file" value="true">
    </div>

    <label for="active">IsActive:</label>
    <input th:field="*{active}" type="checkbox" id="active" name="active" value="true">
    <div>
        <label> Category </label>
        <div>
            <select name="category_id">
                <option th:field="*{category}" th:each="category : ${categoryList}"
                        th:text="${category.name}"
                        th:value="${category.id}">
            </select>
        </div>
    </div>
    <div>
        <label> Measurement </label>
        <div>
            <select name="measurement_id">
                <option th:field="*{measurement}" th:each="measurmement : ${measurementList}"
                        th:text="${measurmement.name}"
                        th:value="${measurmement.id}">
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>

<br>
<br>
</body>
</html>