<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="https://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1>OutputProduct Edit Page</h1>

<form method="post" th:action="@{/output/edit_p/{id}(id=${output.id})}" th:object="${output}">

    <div class="form-group">
        <input th:field="*{amount}" name="amount" type="number" class="form-control" id="amount"
               placeholder="Product amount:">
    </div>

    <div class="form-group">
        <input th:field="*{price}" name="price" type="number" class="form-control" id="price"
               placeholder="Product Price:">
    </div>


    <div>
        <label> Product </label>
        <div>
            <select name="productId">
                <option th:field="*{product}" th:each="product : ${productList}"
                        th:text="${product.name}"
                        th:value="${product.id}">
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
</form>

<br>
<br>
</body>
</html>