<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<h1>Client Add Page</h1>
<br>
<form method="post" action="/client/add">
    <div class="form-group">


        <input name="name" type="text" id="name"
               placeholder="Name:">

        <input name="phone_number" type="text" id="phone_number"
               placeholder="Phone Number:">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
</body>
</html>