<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container">
    <h1>Dashboard Page</h1>
                <a class="btn btn-warning"  href="/dashboard/dailyInput">Daily InputProducts</a>
                <a class="btn btn-warning"  href="/dashboard/dailyOutput">Daily OutputProducts</a>
                <a class="btn btn-danger"   href="/dashboard/expired"> Expired products</a>

</div>

</body>
</html>