<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Expired Products Page</h1>

    <h4>Yaroqlilik muddatiga 7 kun qolganda ogoxlantirish</h4>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Product</th>
            <th>Amount</th>
            <th>Price</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each=" daily,i : ${list}">
            <td th:text="${i.index+1}"></td>
            <td th:text="${daily.expireDate}"></td>
            <td th:text="${daily.product.name}"></td>
            <td th:text="${daily.amount}"></td>
            <td th:text="${daily.price}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>