<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Input Product Page</h1>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>Id</th>
            <th>Amount</th>
            <th>Expire Date</th>
            <th>Price</th>
            <th>Product</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each=" input,i : ${list}">
            <td th:text="${i.index+1}"></td>
            <td th:text="${input.amount}"></td>
            <td th:text="${input.expire_date}"></td>
            <td th:text="${input.price}"></td>
            <td th:text="${input.product.name}"></td>
            <td>
                <a class="btn btn-danger" th:href="${'/input/delete_p/'+input.id}">Delete</a>

            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>
</body>
</html>