<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Animated Sidebar Menu | CodingLab</title>
    <link rel="stylesheet" href="/css/web.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>
<div class="wrapper">
    <input type="checkbox" id="btn" hidden>
    <label for="btn" class="menu-btn">
        <i class="fas fa-bars"></i>
        <i class="fas fa-times"></i>
    </label>
    <nav id="sidebar">
        <div class="title">Side Menu</div>
        <ul class="list-items">
            <li><a href="/product"><i class="fas fa-shopping-cart"></i>Product</a></li>
            <li><a href="/input"><i class="fas fa-arrow-down"></i>Input Product</a></li>
            <li><a href="/output"><i class="fas fa-arrow-up"></i>Output Product</a></li>
            <li><a href="/warehouse"><i class="fas fa-home"></i>Warehouse</a></li>
            <li><a href="/category"><i class="fas fa-newspaper"></i>Category</a></li>
            <li><a href="/client"><i class="fas fa-users"></i>Client</a></li>
            <li><a href="/currency"><i class="fas fa-dollar-sign"></i>Currency</a></li>
            <li><a href="/measurement"><i class="fas fa-drafting-compass"></i>Measurement</a></li>
            <li><a href="/supplier"><i class="	fas fa-truck"></i>Supplier</a></li>
            <li><a href="/register"><i class="fas fa-address-book"></i>Register</a></li>
            <li><a href="/user"><i class="fas fa-user-friends"></i>Users</a></li>
            <li><a href="/dashboard"><i class="fas fa-chart-line"></i>Dashboard</a></li>
            <li><a href="/login"><i class="	fas fa-user-slash"></i>Log Out</a></li>
            <div class="icons">
                <a href="#"><i class="fab fa-facebook-f"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-github"></i></a>
                <a href="#"><i class="fab fa-youtube"></i></a>
            </div>
        </ul>
    </nav>
</div>
<div class="content">

    <div class="wrapper">
        <div class="display">
            <div id="time"></div>
        </div>
        <span></span>
        <span></span>
    </div>
<!--    <script>-->
<!--        setInterval(()=>{-->
<!--            const time = document.querySelector(".display #time");-->
<!--            let date = new Date();-->
<!--            let hours = date.getHours();-->
<!--            let minutes = date.getMinutes();-->
<!--            let seconds = date.getSeconds();-->
<!--            let day_night = "AM";-->
<!--            if(hours > 12){-->
<!--                day_night = "PM";-->
<!--                hours = hours - 12;-->
<!--            }-->
<!--            if(seconds < 10){-->
<!--                seconds = "0" + seconds;-->
<!--            }-->
<!--            if(minutes < 10){-->
<!--                minutes = "0" + minutes;-->
<!--            }-->
<!--            if(hours < 10){-->
<!--                hours = "0" + hours;-->
<!--            }-->
<!--            time.textContent = hours + ":" + minutes + ":" + seconds + " "+ day_night;-->
<!--        });-->
<!--    </script>-->
</div>
</body>
</html>
